.nav-bar {
    display: flex;
    background: greenyellow;
    align-items: center;
    padding: 1rem 0;
    justify-content: center;
}

.logo {
    width: 50px;
    margin-right: 0.75rem;
}

:global(.button).nav-button{
    margin-left: 1rem;
}